.row {
  margin-top: 2rem;
  margin-left: 20px;
  color: white;
}
.scrollContainer {
  width: 50%;
}
.row__posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 40px;
}

.row__poster {
  align-self: flex-start;
  object-fit: contain;
  width: 100%;
  max-height: 120px;
  transition: transform 450ms;
  margin-right: 10px;
}

.row__poster:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.row__posterLarge {
  max-height: 200px;
}
.row__posterLarge:hover {
  transform: scale(1.09);
}
